body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  background-color: #303030;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-center {
  text-align: center;
}

input {
  background-color: #404040;
  background-image: none;
  border: none;
  box-shadow: none;
  color: white;
  margin: 10px;
  padding: 10px;
}

a {
  color: rgb(102, 177, 243);
  text-decoration: none;
}

.link {
  align-items: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  transition: 0.1s;
}

.link:hover {
  background-color: #ffffff1f;
}

.Login {
  background-color: #333;
  border-radius: 4px;
  padding: 20px;
}

.Login .login-inputs {
  display: flex;
  flex-direction: column;
}

button {
  background-color: white;
  background-image: none;
  border: 5px;
  color: rgb(102, 177, 243);
  font-weight: 800;
  margin: 10px;
  padding: 10px;
}

.delete {
  background-color: rgb(228, 10, 10);
  color: white;
  cursor: pointer;
  transition: 0.1s;
}

.none-client {
  margin: 10px;
}

.register-button {
  cursor: pointer;
  display: block;
  transition: 0.1s;
  width: 100%;
}

.grow:hover {
  transform: scale(1.05);
}
