/* .change {
  align-self: flex-start;
  background-color: #FBD26A;
  display: flex;
  justify-content: center;
  width: 200px;
} */

/* .change {
  align-self: flex-end;
  background-color: #FBD26A;
  display: flex;
  justify-content: center;
  width: 200px;
} */

/* .change {
  align-self: stretch;
  background-color: #FBD26A;
  display: flex;
  justify-content: center;
  width: 200px;
} */

/* .change {
  align-self: baseline;
  background-color: #FBD26A;
  display: flex;
  justify-content: center;
  width: 200px;
} */

/* .change {
  align-self: center;
  background-color: #FBD26A;
  display: flex;
  justify-content: center;
  width: 200px;
} */
